.notfound a {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: green;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #81c408 !important;
  cursor: pointer;
  color: #81c408 !important;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 162px;
  }
  .notfound h2 {
    font-size: 26px;
  }
  
}
