<nz-layout>
  <nz-header>
    <nav
      class="navbar navbar-expand-lg navbar-light nav-yellow border-bottom border-top p-2"
    >
      <div class="container">
        <a class="navbar-brand fs-4 fw-bold" routerLink="/" href="#" (click)="dashboardf()">
          <i class="fa fa-cart-shopping fs-4 text-white mr-1"></i>
          <span class="textBlur text-white">ZEESHOP</span>
        </a>

        <button
          class="navbar-toggler border dark:border-white"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
            <li class="nav-item dropdown">
              <a
                class="nav-link text-semibold text-uppercase me-1 text-white"
                routerLink="/"
                role="button"
                aria-expanded="false"
                (click)="dashboardf()"
              >
                Home
              </a>
            </li>

            <li class="nav-item" *ngIf="user_role == 'buyer'">
              <a
                class="nav-link text-semibold text-uppercase me-1 text-white"
                routerLink="/buyer-dashboard"
                >Product</a
              >
            </li>

            <li class="nav-item" *ngIf="user_role == 'seller'">
              <a
                class="nav-link text-semibold text-uppercase me-1 text-white"
                routerLink="/seller/product"
                >Product List</a
              >
            </li>
            <li class="nav-item" *ngIf="user_role == 'admin'">
              <a
                class="nav-link text-semibold text-uppercase me-1 text-white"
                routerLink="/admin/product"
                >All Products</a
              >
            </li>
            <li class="nav-item" *ngIf="user_role == 'admin'">
              <a
                class="nav-link text-semibold text-uppercase me-1 text-white"
                routerLink="/admin/user"
                >Users</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link text-semibold text-uppercase me-1 text-white"
                routerLink="/about"
                >About Us</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link text-semibold text-uppercase me-1 text-white"
                routerLink="/contact-us"
                >Contact Us</a
              >
            </li>

            <li class="nav-item" *ngIf="user_role == 'buyer'">
              <a class="nav-link active" routerLink="/checkout">
                <i class="fas fa-shopping-cart text-white mx-1"></i>
                <span
                  class="position-absolute translate-middle badge rounded-pill bg-danger"
                >
                  {{ getcartitemcount() }}
                </span>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle redHover text-semibold text-uppercase text-white me-1"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa fa-user fs-5 me-1 text-white"></i>
              </a>
              <ul
                class="dropdown-menu"
                style="left: -84px"
                aria-labelledby="navbarDropdown"
              >
                <li class="nav-item" *ngIf="user_role">
                  <div class="d-flex justify-content-evenly mt-2">
                    <a class="nav-link sim-pointer" routerLink="/my-profile">
                      <button class="btn-profile btn btn-success">
                        My Profile
                      </button>
                    </a>
                    <a class="nav-link sim-pointer" (click)="logout()"
                      ><button class="btn-logout btn btn-success">
                        Log Out
                      </button></a
                    >
                  </div>
                </li>
                <li *ngIf="!user_role">
                  <div class="d-flex justify-content-evenly mt-2">
                    <a
                      class="nav-link text-semibold text-uppercase me-1 text-white"
                      routerLink="/sign-in"
                      data-bs-toggle="modal"
                      data-bs-target="#loginModel"
                      ><button class="btn-login btn-success">Login</button></a
                    >
                    <a
                      class="nav-link text-semibold text-uppercase me-1 text-white"
                      routerLink="/sign-up"
                      data-bs-toggle="modal"
                      data-bs-target="#myModal"
                      ><button class="btn-registered btn-success">
                        SignUp
                      </button></a
                    >
                  </div>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <button (click)="toggleDarkMode()" class="btn-mode">
                <i [ngClass]="isDarkMode ? 'fas fa-sun' : 'fas fa-moon'"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </nz-header>
  <nz-content>
    <div class="container inner-content overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
