<div class="jumbotron p-3 p-md-2 rounded">
  <div class="col-md-12 px-0">
    <h1 class="text-center dark:!text-white">
      Welcome to Admin Dashboard
    </h1>
    <p class="lead my-3 text-center">Admin can manage user and product</p>
  </div>
</div>

<!-- User details -->
<div class="row mb-2">
  <div class="col-md-6">
    <div class="dashboard-card user-dashboard-card" (click)="userDashboard()">
      <h3>User Dashboard</h3>
      <google-chart
        [type]="userChartType"
        [data]="userChartData"
        [columns]="userColumnNames"
        [options]="userChartOptions"
      ></google-chart>
    </div>
  </div>

  <!-- Product -->
  <div class="col-md-6">
    <div
      class="dashboard-card product-dashboard-card"
      (click)="productDashboard()"
    >
      <h3>Product Dashboard</h3>
      <google-chart
        [type]="productChartType"
        [data]="productChartData"
        [columns]="productColumnNames"
        [options]="productChartOptions"
      ></google-chart>
    </div>
  </div>
</div>
