<br />
<div class="row">
  <div class="col-md-10">
    <strong>All Product List</strong>
  </div>
  <div class="col-md-2">
    <button
      class="btn-popup btn-success float-right"
      type="button"
      (click)="addProductPopup()"
      data-bs-toggle="modal"
      data-bs-target="#addEditProductModal"
    >
      Add Product
    </button>
  </div>
</div>

<table class="table table-hover mt-2 text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product name</th>
      <th scope="col">Max Retail P</th>
      <th scope="col">Discount P</th>
      <th scope="col">Display Image</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product_data of paginated_products; let i = index">
      <th scope="row">{{ (current_page - 1) * items_per_page + i + 1 }}</th>
      <td>{{ product_data.name }}</td>
      <td>{{ product_data.mrp }}</td>
      <td>{{ product_data.dp }}</td>
      <td>
        <img
          [src]="'data:image/jpeg;base64,' + product_data.uploadPhoto"
          alt="Product Image"
          style="width: 47px; height: 38px; border-radius: 20%"
        />
      </td>
      <td>{{ product_data.status }}</td>
      <td>
        <span
          class="sim-pointer"
          (click)="editProductPopup(product_data.id)"
          data-bs-toggle="modal"
          data-bs-target="#addEditProductModal"
          ><i class="fa-solid fa-pen-to-square"></i
        ></span>
        &nbsp; &nbsp; &nbsp;
        <span class="sim-pointer" (click)="deleteProduct(product_data.id)"
          ><i class="fa-solid fa-trash-can"></i
        ></span>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-3">
    <li
      class="page-item"
      [class.disabled]="current_page === 1"
      [ngClass]="{ 'opacity-50 cursor-not-allowed': current_page === 1 }"
    >
      <a
        class="page-link"
        (click)="setPage(current_page - 1)"
        [attr.disabled]="current_page === 1 ? true : null"
      >
        <i class="fa-solid fa-chevron-left"></i>
        Previous
      </a>
    </li>
    <li
      class="page-item"
      *ngFor="
        let page of [].constructor(
          Math.ceil(all_product_data.length / items_per_page)
        );
        let pageNo = index
      "
      [class.active]="current_page === pageNo + 1"
    >
      <a class="page-link" (click)="setPage(pageNo + 1)">{{ pageNo + 1 }}</a>
    </li>
    <li
      class="page-item"
      [class.disabled]="
        current_page === Math.ceil(all_product_data.length / items_per_page)
      "
      [ngClass]="{
        'opacity-50 cursor-not-allowed':
          current_page === Math.ceil(all_product_data.length / items_per_page)
      }"
    >
      <a
        class="page-link"
        (click)="setPage(current_page + 1)"
        [attr.disabled]="
          current_page === Math.ceil(all_product_data.length / items_per_page)
            ? true
            : null
        "
      >
      Next
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </li>
  </ul>
</nav>

<div
  class="modal fade"
  id="addEditProductModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addEditUserTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div
      class="modal-content"
      [ngClass]="{ 'dark-mode': isDarkMode, 'light-mode': !isDarkMode }"
    >
      <div class="modal-header">
        <h5 class="modal-title">{{ popup_header }}</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          X
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <form
              [formGroup]="addEditProductDForm"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <label for="productName">Product Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  [class.is-invalid]="rf['name'].invalid && rf['name'].touched"
                />
                <div
                  class="text-danger"
                  *ngIf="rf['name'].invalid && rf['name'].touched"
                >
                  Name is required
                </div>
              </div>
              <div class="form-group">
                <label for="productImage">Product Image</label>
                <span *ngIf="edit_prouct">
                  <img
                    *ngIf="upload_file_name"
                    [src]="'data:image/jpeg;base64,' + upload_file_name"
                    alt="Product Image"
                    style="max-width: 30%; height: auto"
                  />
                </span>
                <input
                  type="file"
                  (change)="onFileChange($event)"
                  formControlName="uploadPhoto"
                  [class.is-invalid]="
                    rf['uploadPhoto'].invalid && rf['uploadPhoto'].touched
                  "
                />
                <div
                  class="text-danger"
                  *ngIf="rf['uploadPhoto'].invalid && rf['uploadPhoto'].touched"
                >
                  Image is required
                </div>
              </div>
              <div class="form-group">
                <label for="productDescription">Product Description</label>
                <textarea
                  rows="3"
                  class="form-control"
                  formControlName="productDesc"
                  [class.is-invalid]="
                    rf['productDesc'].invalid && rf['productDesc'].touched
                  "
                ></textarea>
                <div
                  class="text-danger"
                  *ngIf="rf['productDesc'].invalid && rf['productDesc'].touched"
                >
                  Description is required
                </div>
              </div>
              <div class="form-group">
                <label for="productMRP">Product MRP</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="mrp"
                  [class.is-invalid]="rf['mrp'].invalid && rf['mrp'].touched"
                />
                <div
                  class="text-danger"
                  *ngIf="rf['mrp'].invalid && rf['mrp'].touched"
                >
                  Max Retail Price is required
                </div>
              </div>
              <div class="form-group">
                <label for="productDP">Product DP</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="dp"
                  [class.is-invalid]="rf['dp'].invalid && rf['dp'].touched"
                />
                <div
                  class="text-danger"
                  *ngIf="rf['dp'].invalid && rf['dp'].touched"
                >
                  Discount Price is required
                </div>
              </div>
              <div class="form-group">
                <label for="productStatus">Product Status</label>
                <select
                  class="form-control"
                  formControlName="status"
                  [class.is-invalid]="
                    rf['status'].invalid && rf['status'].touched
                  "
                >
                  <option value="draft">Draft</option>
                  <option value="inactive">Inactive</option>
                  <option value="publish">Publish</option>
                </select>
                <div
                  class="text-danger"
                  *ngIf="rf['status'].invalid && rf['status'].touched"
                >
                  Status is required
                </div>
              </div>
              <div class="form-group mt-2">
                <button
                  class="btn-add btn-success"
                  (click)="addNewProduct()"
                  *ngIf="add_prouct"
                >
                  Add Product
                </button>
                <button
                  class="btn-edit btn-success"
                  (click)="updateProduct()"
                  *ngIf="edit_prouct"
                >
                  Update Product
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
