.product {
  margin-top: 1rem;
  .card {
    img {
      height: 15rem;
      padding: 1rem;
    }
    .card-body {
      .product-desc {
        height: 9rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
      .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.card {
  background-color: var(--card-bg);
  color: var(--card-text);
}

.btn-card {
  background-color: #81c408 !important;
  border: 2px;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.page-item {
  margin: 0 0.25rem;
}

.page-link {
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
}

.page-link:hover {
  color: #0056b3;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #81c408 !important;
  border-color: #81c408 !important;
}

.page-item.disabled .page-link {
  color: #fff;
  pointer-events: none;
  background-color: #81c408 !important;
  border-color: #81c408 !important;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.d-flex {
  justify-content: center;
}

.form-search {
  width: 20%;
}

.btn-fa {
  margin-left: -1%;
  background-color: #81c408 !important;
  padding: 5px 15px;
  border: 2px solid transparent;
  border-radius: 10%;
  color: #fff;
  border-color: #81c408 !important;
}

.not-foundp {
  margin-left: 40%;
}