<br />
<div class="row">
  <div class="col-md-10">
    <strong>All User List</strong>
  </div>
  <div class="col-md-2">
    <button
      type="button"
      class="btn-popup btn-success"
      (click)="addUserPopup()"
      data-bs-toggle="modal"
      data-bs-target="#addEditUserModal"
    >
      Add New User
    </button>
  </div>
</div>

<table class="table table-success table-hover mt-2">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Mob</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>
      <th scope="col">Image</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user_data of all_user_data; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user_data.name }}</td>
      <td>{{ user_data.mobNumber }}</td>
      <td>{{ user_data.email }}</td>
      <td>{{ user_data.address.city }}</td>
      <td>
        <img
          [src]="'data:image/jpeg;base64,' + user_data.uploadPhoto"
          alt="User"
          style="width: 47px; height: 38px; border-radius: 50%"
        />
      </td>
      <td>{{ user_data.role }}</td>
      <td>
        <span
          class="sim-pointer"
          (click)="editUserPopup(user_data.id)"
          data-bs-toggle="modal"
          data-bs-target="#addEditUserModal"
          ><i class="fa-solid fa-pen-to-square"></i
        ></span>
        &nbsp;&nbsp;&nbsp;
        <span class="sim-pointer" (click)="deleteUser(user_data.id)"
          ><i class="fa-solid fa-trash-can"></i
        ></span>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal for add and edit user  -->
<div
  class="modal fade"
  id="addEditUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addEditUserModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div
      class="modal-content"
      [ngClass]="{ 'dark-mode': isDarkMode, 'light-mode': !isDarkMode }"
    >
      <div class="modal-header">
        <h5 class="modal-title">{{ popup_header }}</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="margin-left: 60%"
        >
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <form [formGroup]="addEditUserForm">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  [class.is-invalid]="rf['name'].invalid && rf['name'].touched"
                />
                <div
                  class="text-danger"
                  *ngIf="rf['name'].invalid && rf['name'].touched"
                >
                  name is required
                </div>
              </div>
              <div class="form-group">
                <label>Mobile Number</label>
                <input
                  type="tel"
                  class="form-control"
                  formControlName="mobNumber"
                  [class.is-invalid]="
                    rf['mobNumber'].invalid && rf['mobNumber'].touched
                  "
                />
                <div
                  class="text-danger"
                  *ngIf="rf['mobNumber'].invalid && rf['mobNumber'].touched"
                >
                  Mobile Number is required
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputEmail4">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    formControlName="email"
                    [class.is-invalid]="
                      rf['email'].invalid && rf['email'].touched
                    "
                  />
                  <div
                    class="text-danger"
                    *ngIf="rf['email'].invalid && rf['email'].touched"
                  >
                    Email is required
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label for="inputPassword4">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                    [class.is-invalid]="
                      rf['password'].invalid && rf['password'].touched
                    "
                  />
                  <div
                    class="text-danger"
                    *ngIf="rf['password'].invalid && rf['password'].touched"
                  >
                    Password is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="1234 Main St"
                  formControlName="addLine1"
                  [class.is-invalid]="
                    rf['addLine1'].invalid && rf['addLine1'].touched
                  "
                />
                <div
                  class="text-danger"
                  *ngIf="rf['addLine1'].invalid && rf['addLine1'].touched"
                >
                  Address is required
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputCity">City</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="city"
                    [class.is-invalid]="
                      rf['city'].invalid && rf['city'].touched
                    "
                  />
                  <div
                    class="text-danger"
                    *ngIf="rf['city'].invalid && rf['city'].touched"
                  >
                    City is required
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">State</label>
                  <select
                    id="inputState"
                    class="form-control"
                    formControlName="state"
                    [class.is-invalid]="
                      rf['state'].invalid && rf['state'].touched
                    "
                  >
                    <option selected>Choose...</option>
                    <option>UP</option>
                    <option>MP</option>
                    <option>HP</option>
                  </select>
                  <div
                    class="text-danger"
                    *ngIf="rf['state'].invalid && rf['state'].touched"
                  >
                    State is required
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputZip">Zip</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="zipCode"
                    [class.is-invalid]="
                      rf['zipCode'].invalid && rf['zipCode'].touched
                    "
                  />
                  <div
                    class="text-danger"
                    *ngIf="rf['zipCode'].invalid && rf['zipCode'].touched"
                  >
                    Zipcode is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect2">Gender</label><br />
                <div class="form-check form-check-inline">
                  <input
                    id="inlineRadio1"
                    class="form-check-input"
                    type="radio"
                    formControlName="gender"
                    value="Male"
                  />
                  <label class="form-check-label" for="inlineRadio1"
                    >Male</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    id="inlineRadio2"
                    class="form-check-input"
                    type="radio"
                    formControlName="gender"
                    value="Female"
                  />
                  <label class="form-check-label" for="inlineRadio2"
                    >Female</label
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Upload Your Photo</label>
                <span *ngIf="edit_user">
                  <span>Uploaded image</span><br />{{ upload_file_name }}
                </span>
                <input
                  type="file"
                  (change)="onFileChange($event)"
                  formControlName="uploadPhoto"
                  [class.is-invalid]="
                    rf['uploadPhoto'].invalid && rf['uploadPhoto'].touched
                  "
                />
                <div
                  class="text-danger"
                  *ngIf="rf['uploadPhoto'].invalid && rf['uploadPhoto'].touched"
                >
                  Image is required
                </div>
              </div>
              <div class="form-group">
                <label for="roleSelect">Select User Role</label>
                <select
                  class="form-control"
                  formControlName="role"
                  [class.is-invalid]="rf['role'].invalid && rf['role'].touched"
                >
                  <option value="admin">admin</option>
                  <option value="seller">seller</option>
                  <option value="buyer">buyer</option>
                </select>
                <div
                  class="text-danger"
                  *ngIf="rf['role'].invalid && rf['role'].touched"
                >
                  Role is required
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input
                    id="gridCheck"
                    class="form-check-input"
                    type="checkbox"
                    formControlName="agreetc"
                    [class.is-invalid]="
                      rf['agreetc'].invalid && rf['agreetc'].touched
                    "
                  />
                  <label class="form-check-label" for="gridCheck">
                    Agree our term and condition
                  </label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="rf['agreetc'].invalid && rf['agreetc'].touched"
                >
                  You must agree to the terms and conditions
                </div>
              </div>
              <div class="form-group">
                <button
                  class="btn-add btn-success"
                  data-bs-dismiss="modal"
                  (click)="addUser()"
                  *ngIf="add_user"
                >
                  Register
                </button>
                <button
                  class="btn-register btn-success"
                  data-bs-dismiss="modal"
                  (click)="updateUser()"
                  *ngIf="edit_user"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
