.sim-pointer {
  cursor: pointer;
  color: blue;
  font-weight: bolder;
}

.btn-popup {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #81c408 !important;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.btn-edit {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #81c408 !important;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.fa-pen-to-square {
  color: #81c408 !important;
}

.fa-trash-can {
  color: #81c408 !important;
}