<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-bold">E-Commerce Application in Angular 17</h1>
      <p class="lead">
        Something short and leading about the collection below—its contents, the
        creator, etc. Make it short and sweet, but not too short so folks don't
        simply skip over it entirely.
      </p>
      <p>
        <a class="btn-product btn-success my-2" routerLink="/seller/product"
          >Our Products</a
        >
        &nbsp; &nbsp;
        <a class="btn-register btn-success my-2" routerLink="/sign-up">Register</a>
      </p>
    </div>
  </div>
</section>